  <footer class="bg-dark text-white py-1">
    <div class="container text-center">
      <h4 class="fw-bold mb-4">VIBESTORE</h4>
      <div class="d-flex justify-content-center gap-4 mb-1">
        <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
        <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-white"><i class="bi bi-twitter-x"></i></a>
      </div>
      <p class="text-secondary small">&copy; 2026 VibeStore. All rights reserved.</p>
    </div>
  </footer>